// Under Construction Page (/underConstruction)

#underConstruction {
  text-align: center;
  margin: 5em;

}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
